
<md-dialog layout-padding class="seller-detail-info">

    <md-toolbar>
        <div class="md-toolbar-tools" align="right">
            <a class="md-icon-button" ng-click="sellDetCtrl.closeModal()" style="cursor:pointer">
                <i class="fa fa-window-close-o" style="font-size:25px"></i>
            </a>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <h3>Pojazdy</h3>
        <table class="table table-striped" style="margin-top: 30px">
            <thead>
            <tr></tr>
            </thead>
            <tbody>
            <tr ng-repeat="car in carList">
                <td class="col-sm-10"><strong>{{car.mark + " " + car.model}} </strong></td>
                <td class="col-sm-2"><button class="btn btn-info">test</button></td>
            </tr>
            </tbody>
        </table>

    </md-dialog-content>
</md-dialog>



