<style>
    form .ng-invalid {color: red; font-weight:bold;}
    /*Walidacja gdy użytkownik uzywa pola*/
    form .ng-invalid.ng-dirty {background-color: lightpink}
</style>
<div ng-show="!authenticated">
    <form name="myForm" role="registerForm" ng-submit="registerCtrl.registerUser()" ng-hide="data.error">
        <div class="form-group">
            <label for="username">Username:</label> <input type="text"
                                                           class="form-control" id="username" name="username" ng-model="registerCtrl.user.username" ng-maxlength="6" required/>
        </div>
        <div class="form-group">
            <label for="password">Password (at least 6 characters):</label> <input type="password"
                                                           class="form-control" id="password" name="password" ng-model="registerCtrl.user.password" ng-minlength="6" required/>
        </div>

        <div class="form-group">
            <label for="passconfirm">Password (at least 6 characters):</label> <input type="password" ng-pattern="matchPattern"
                                                                                   class="form-control" id="passconfirm" name="passconfirm" ng-model="registerCtrl.user.passconfirm" required/>
        </div>
        <div class="form-group">
            <label for="email">Email:</label> <input type="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                                                           class="form-control" id="email" name="email" ng-model="registerCtrl.user.email" required/>
        </div>
        <div ng-if="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

        <!--error message-->
        <div ng-messages="myForm.password.$error" role="alert">
            <div ng-message="minlength" class="alert alert-danger">Your field is too short</div>
        </div>

        <div ng-show="myForm.password.$error.required">
            <div class="alert alert-danger">Password null</div>
        </div>


        <button ng-disabled="myForm.$invalid" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

